/* Display the day strip on all devices */
.tribe-events-header .tribe-daystrip-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Full width for responsiveness */
    margin-top: 1em;
}

/* Adjustments for day strip items */
.tribe-events-header .tribe-daystrip-container .tribe-daystrip-day {
    text-align: center;
    padding: 5px; /* Adjust padding for stacked layout */
    word-wrap: normal;
    width: 100%; /* Full width for each item */
}

/* Style adjustments for day names and dates */
.tribe-daystrip-day span {
    display: block; /* Ensure each span is on a new line */
    text-align: center;
}

.tribe-daystrip-dayname {
    font-size: 0.7em;
    text-transform: uppercase;
}

/* Maintain border style between days */
.tribe-events-header .tribe-daystrip-container .tribe-daystrip-day:not(:last-child) {
    border-bottom: 1px solid #d5d5d5; /* Add border to bottom */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .tribe-daystrip-dayname {
        font-size: 0.6em; /* Smaller font for smaller screens */
    }
}
